doctype html
html
  head
    title #{title} - College Manager
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Colleges
    block content
    table
        thead
        tr
            th ID
            th Name
            th Year of Foundation
            th City
            th State
            th Country
            th Number of Students
            th Courses
            th 
        tbody
        each mongo_result, i in collegeList
            tr
                td= mongo_result.id
                td= mongo_result.Name
                td= mongo_result.Year
                td= mongo_result.City
                td= mongo_result.State
                td= mongo_result.Country
                td= mongo_result.Num
                td= mongo_result.Courses
                td #[a(href="/college?id="+mongo_result.id) visit]

    
   
    
